.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .offcanvas-title {
    font-size: 1.25rem;
    color: #e2e2e2;
  }
  
  .nav-link {
    font-size: 1rem;
  }
  
  .offcanvas .form-control {
    border-radius: 0.25rem;
  }
  
  .offcanvas .btn-success {
    background-color: #28a745;
    border: none;
    font-weight: bold;
  }
  