<!-- Full-width footer container -->
<div class="footer-container">

    <footer class="text-center text-lg-start footer-background">
      <div class="container d-flex justify-content-center py-4">
        <!-- GitHub -->
        <a href="https://github.com/kartik-khandal" target="_blank" class="btn btn-icon mx-2">
          <i class="fab fa-github"></i>
        </a>
        <!-- LinkedIn -->
        <a href="https://www.linkedin.com/in/kartik-khandal/" target="_blank" class="btn btn-icon mx-2">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <!-- Gmail -->
        <a href="mailto:kartikkhandal74@gmail.com" class="btn btn-icon mx-2">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
  
      <!-- Copyright -->
      <div class="text-center text-white p-3 copyright">
        © 2024 FaceRecognitionApp. All rights reserved. Designed by <strong>Kartik Khandal</strong>.
        <!-- <a class="text-reset fw-bold" href="#">Privacy Policy</a> |
        <a class="text-reset fw-bold" href="#">Terms of Service</a> -->
      </div>
    </footer>
    
  </div>
  